
@{
    ViewData["Title"] = "Delete Form";
}

@model ApplicationResponse

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the task "@Model.Task"?</h3>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Quadrant" class="btn btn-primary">Cancel</a>
    <input type="hidden" asp-for="TaskID"/>
</form>
