@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to Stepen Covey's Time Management Matrix</h2><br />
<img src="~/img/stephen_covey.webp" /><br /><br />
<a asp-controller="Home" asp-action="TaskForm">Add a Task</a>
