
@{
    ViewData["Title"] = "Task Form";
}

@model Project2.Models.ApplicationResponse
<!--Form to enter the data for a task-->
<div>
    <form method="post">
        <label>Task (Required)</label>
        <input asp-for="Task" /><br />
        <label>Due Date</label>
        <input asp-for="DueDate" /><br />
        <label>Quadrant (Required)</label>
        <input asp-for="Quadrant" /><br />
        <label>Category</label>
        <select asp-for="CategoryID">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
            <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select><br />
        <label>Completed</label>
        <select asp-for="Completed">
            <option value="True">True</option>
            <option value="False">False</option>
        </select><br />
        <button type="Submit">Submit</button>
        <div asp-validation-summary="All"></div>
    </form>
</div>
